<footer id="footer" class="text-white">

    <div class="container">

        <div class="row footer__row-1">
            <div class="col-md-7 d-flex flex-column align-items-center align-items-md-start footer__row-1__col-1">
                <h2 class="text-center text-md-start">Lorem ipsum dolor sit amet consectur.</h2>

                <button class="talk-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-popup"
                    aria-controls="menu-popup">
                    <img src="../../assets/images/flower.svg" alt="flower" class="flower" />
                    Let's talk
                </button>

            </div>
            <div
                class="col-md-5 d-flex flex-column align-items-center align-items-center align-items-md-end footer__row-1__col-2 mt-5 mt-md-0">
                <module href="/context/nav.html"></module>
            </div>
        </div>

        <div class="row footer__row-2">
            <div class="col-12 d-flex  justify-content-center justify-content-lg-end">
                <img src="../assets/images/pig-white.svg" alt="We Are Andale" />
            </div>
        </div>

        <div class="row text-center footer__row-3">
            <div
                class="col-lg-3 d-flex justify-content-center justify-content-lg-start flex-row gap-4 mt-4 mt-lg-0 footer__row-3__col-1">
                <a href="#" target="_blank">
                    <img src="../assets/images/twitter.svg" alt="twitter" />
                </a>
                <a href="#" target="_blank">
                    <img src="../assets/images/facebook.svg" alt="facebook" />
                </a>
                <a href="#" target="_blank">
                    <img src="../assets/images/behance.svg" alt="behance" />
                </a>
            </div>

            <div class="col-lg-9 footer__row-3__col-2 mt-4 mt-lg-0">
                <ul
                    class="d-flex flex-column flex-lg-row p-0 justify-content-center justify-content-lg-between gap-3 gap-lg-5 mt-2 mt-lg-0">
                    <li>
                        <a href="https://wa.me/543492567025" target="_blank">
                            <img src="../assets/images/whatsapp.svg" alt="whatsapp" />
                            +54 3492 567 025
                        </a>
                    </li>

                    <li>
                        <a href="https://maps.app.goo.gl/yXUkNoFg72LzQoc77" target="_blank">
                            <img src="../assets/images/map-pin.svg" alt="map" />
                            Padre Francisco Palau 379 Córdoba, Argentina.
                        </a>
                    </li>

                    <li>
                        <a href="mailto:hello@weareandale.com" target="_blank">
                            <img src="../assets/images/envelope.svg" alt="email" />
                            hello@weareandale.com
                        </a>
                    </li>
                </ul>
            </div>


        </div>


    </div>
</footer>