<!-- Header -->
<header id="header" class="transparent container position-relative p-0">
  <div class="row position-absolute w-100">
    <div class="col-6 col-lg-2">
      <a href="/" class="logo">
        àndale
      </a>

    </div>
    <div class="col-6 col-lg-10 flex-grow-1 d-flex justify-content-end align-items-center">
      <div class="header__nav-pc">
        <module href="/context/nav.html"></module>
      </div>

      <!-- Burger menu -->
      <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-popup"
        aria-controls="menu#menu-popup">
        <img src="../assets/images/burgermenu.svg" alt="" class="burgermenu" />
      </button>

    </div>
  </div>
  <div class="header__burger-icon">
    <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-popup"
      aria-controls="menu-popup">
      <img src="../assets/images/burgermenu.svg" alt="" class="burgermenu" />
    </button>
  </div>
</header>
<!-- /Header -->

<module href="/context/menu-popup.html"></module>