<nav>
  <ul class="p-0 m-0">
    <li class="link-home"><a href="/"><span>01</span> Home </a></li>

    <li class="link-about-us">
      <a href="../about-us.html"> <span>02</span>About us </a>
      <img class="d-none" src="../assets/images/flower-red.svg" alt="flower" />
    </li>

    <li class="link-archive">
      <a href="../archive.html"><span>03</span> Our work </a>
      <img class="d-none" src="../assets/images/flower-red.svg" alt="flower" />
    </li>

    <li class="li-talk">
      <button class="talk-button p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-popup"
        aria-controls="menu-popup">
        <span>04</span>Let's talk
      </button>

      <button id="accordion-button" class="accordion-button d-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      </button>
    </li>

    <li class="d-none li-accordion">
      <div class="accordion" id="accordion-talk">
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button id="accordion-button-2" class="accordion-button accordion-button-2" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <span>04</span>
              Let's talk
            </button>
          </div>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordion-talk">
            <div class="accordion-body">
              <div class="accordion__card">
                SOCIAL
                <div class="d-flex gap-4 mt-3">
                  <a href="#" target="_blank">
                    <img src="../assets/images/twitter.svg" alt="twitter" />
                  </a>
                  <a href="#" target="_blank">
                    <img src="../assets/images/facebook.svg" alt="facebook" />
                  </a>
                  <a href="#" target="_blank">
                    <img src="../assets/images/behance.svg" alt="behance" />
                  </a>
                </div>

              </div>
              <div class="accordion__card">
                VISIT US
                <a class="mt-3" href="https://maps.app.goo.gl/yXUkNoFg72LzQoc77" target="_blank">
                  Padre Francisco Palau 379 Córdoba, Argentina.
                </a>
              </div>
              <div class="accordion__card">
                CALL US
                <a class="mt-3" href="tel:543492567025" target="_blank">
                  +54 3492 567 025
                </a>
              </div>
              <div class="accordion__card">
                MAIL US
                <a class="mt-3" href="mailto:hello@weareandale.com" target="_blank">
                  hello@weareandale.com
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>