<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sabio Go 2.0</title>
  <module href="/context/head.html"></module>
</head>

<body class="page-single home">
  <!-- Header -->
  <!-- <module href="/context/header.html"></module> -->

  <!-- Sección 1 -->
  <section id="section-1" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center gap-4">
          <h1 class="text-center">
            Sabio Go
          </h1>

          <p class="text-center">
            HOME
          </p>

          <a href="/archive.html">IR AL SHOP</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <!-- <module href="/context/footer.html"></module> -->

  <!-- Scripts -->
  <module href="/context/footer-scripts.html"></module>

</body>

</html>