<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Post</title>
    <module href="/context/head.html"></module>
</head>

<body class="page-single single-post">
    <!-- Header -->
    <module href="/context/header.html"></module>

    <!-- Carrusel automático infinito -->
    <div id="section-1">
        <!-- Carrusel automático -->
        <div class="d-flex flex-column">
            <div class="cro-slider">

                <div class="cro-slider__slide-track">
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                </div>

                <!-- Hay que duplicar el slide-truck -->
                <div class="cro-slider__slide-track">
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                    <div class="cro-slider__slide">
                        SIMON SEEFOOD
                    </div>
                    <div class="cro-slider__slide">
                        <img src="../assets/images/flower.svg" alt="flower" class="flower" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Portada -->
    <div id="section-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="../assets/images/single-post-bg.png" alt="bg" />
                </div>
            </div>
        </div>
    </div>

    <!-- Detalles Single Post -->
    <div id="section-3">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column gap-4 gap-md-5">
                    <h2>Simon Seefood</h2>
                    <h3>The flavor of the Chilean sea in each product</h3>
                    <div class="d-flex flex-column flex-md-row info-cards gap-4 gap-md-5">
                        <div>
                            <h4>SERVICES</h4>
                            <div class="services d-flex gap-2 gap-lg-3 flex-column flex-lg-row">
                                <p>Graphic design</p>
                                <p>Product design</p>
                                <p>Branding</p>
                            </div>
                        </div>
                        <div>
                            <h4>LOCATION</h4>
                            <p>Chile</p>
                        </div>
                        <div>
                            <h4>YEAR</h4>
                            <p>2024</p>
                        </div>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="../assets/images/flower-red.svg" alt="flower" class="flower" />
                                    MORE INFO
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 4 imágenes -->
    <div id="section-4">
        <div class="container">
            <div class="single-post__row">
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/archive6.png" alt="single-img" />
                </div>
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/single2.png" alt="single-img" />
                </div>
            </div>
            <div class="single-post__row">
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/single3.png" alt="single-img" />
                </div>
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/single4.png" alt="single-img" />
                </div>
            </div>
        </div>
    </div>

    <!-- 3 imágenes -->
    <div id="section-5">
        <div class="container">
            <div class="single-post__row">
                <div class="column d-flex flex-column justify-content-between">
                    <div>
                        <img class="single-post__img-horizontal" src="../assets/images/single5.png" alt="single-img" />
                    </div>

                    <div>
                        <img class="single-post__img-horizontal" src="../assets/images/single6.png" alt="single-img" />
                    </div>
                </div>
                <div class="column">
                    <img class="single-post__img-vertical" src="../assets/images/single7.png" alt="single-img" />
                </div>
            </div>
        </div>
    </div>

    <!-- 2 imágenes -->
    <div id="section-6">
        <div class="container">
            <div class="single-post__row">
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/single8.png" alt="single-img" />
                </div>
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/single9.png" alt="single-img" />
                </div>
            </div>
        </div>
    </div>

    <!-- 1 imágen -->
    <div id="section-7">
        <div class="container">
            <div class="single-post__row">
                <div class="column">
                    <img class="single-post__img-horizontal" src="../assets/images/single10.png" alt="single-img" />
                </div>
            </div>
        </div>
    </div>

    <!-- 3 imágenes -->
    <div id="section-8">
        <div class="container">
            <div class="single-post__row">

                <div class="column">
                    <img class="single-post__img-vertical" src="../assets/images/single11.png" alt="single-img" />
                </div>

                <div class="column d-flex flex-column justify-content-between">
                    <div>
                        <img class="single-post__img-horizontal" src="../assets/images/single12.png" alt="single-img" />
                    </div>
                    <div>
                        <img class="single-post__img-horizontal" src="../assets/images/single13.png" alt="single-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 1 imágen -->
    <div id="section-9">
        <div class="container">
            <div class="row">
                <div>
                    <img class="single-post__img-horizontal" src="../assets/images/single14.png" alt="single-img" />
                </div>
            </div>
        </div>
    </div>

    <!-- Chanchito volador -->
    <img class="pig" src="../assets/images/pig.png" alt="pig" />

    <!-- Footer -->
    <module href="/context/footer.html"></module>

    <!-- Scripts -->
    <module href="/context/footer-scripts.html"></module>

</body>

</html>